<div class="latest-tickets col-md-6 col-sm-12">
  <div class="card">
    <div class="card-header d-flex justify-content-center">
      <h4 class="card-title mt-auto mb-auto"><%= t('strings.resources.newest_resources', resource: Ticket.model_name.human) %></h4>
    </div>
    <div class="">
      <table class='content-table'>
        <thead class='text-uppercase'>
          <tr>
            <th><%= Ticket.human_attribute_name('title') %></th>
            <th class='d-none d-lg-block'><%= t('strings.tickets.assigned_developer') %></th>
            <th><%= Ticket.human_attribute_name('status') %></th>
            <th><%= Ticket.human_attribute_name('date_identified') %></th>
          </tr>
        </thead>
        <tbody>
          <% unless @tickets.empty? %>
            <% @tickets.each do |t| %>
              <tr data-href=<%= ticket_url(t.id) %>>
                <td><%= t.title %></td>
                <td class='d-none d-lg-block'><%= t.user.name %></td>
                <td id='stat-column'><div class="status-pill-<%= t.status.id %>"><%= t.status.name %></div></td>
                <td><%= t.created_at.strftime("%Y/%m/%d %H:%M") %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="4" class="text-center"><%= t('strings.resources.no_resource_yet', resource: Ticket.model_name.human) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
