<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 fixed-top">
  <%= link_to  "Tracky", root_path, class: 'navbar-brand' %>

    <div class="navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to  t('links.home'), root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to t('links.projects'), projects_path, class: 'nav-link' %>
        </li>
      </ul>
    </div> 

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
      <% if !(user_signed_in?) %>
        <div class="d-sm-flex align-items-center justify-content-between">
          <%= link_to  t('links.login'), new_user_session_path, class: 'btn btn-sm btn-outline-primary' %>&nbsp;&nbsp;
          <%= link_to  t('links.signup'), new_user_registration_path, class: 'btn btn-sm btn-outline-primary' %>&nbsp;&nbsp;
        </div>
      <% else %>
        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                <%= current_user.name %>
                </span>
                <%= image_tag avatar(current_user), class: 'img-profile rounded-circle' %>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="userDropdown">
                <%= link_to  new_project_path, class: 'dropdown-item' do %>
                    <i class="fas fa-folder fa-sm fa-fw mr-2 text-gray-400"></i>
                    <%= t('links.new_project') %>
                <% end %>
                <%= link_to  edit_user_registration_path(current_user), class: 'dropdown-item' do %>
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    <%= t('links.profile') %>
                <% end %>
                <div class="dropdown-divider"></div>
                <%= link_to  destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  <%= t('links.logout') %>
                <% end %>
            </div>
        </li>
      <% end %>
    </ul>

</nav>
