<div class="ticket-info card">
  <div class="card-header d-flex justify-content-between">
    <div>
      <h4 class="card-title"><%= t('strings.projects.tickets_for') %></h4>
      <h5 class="card-subtitle text-muted"><%= t('strings.tickets.condensed_details') %></h5>
    </div>
    <div>
      <%= link_to new_project_ticket_path(@project), class: 'btn btn-circle btn-lg add-btn', title: t('links.add'), data: { toggle: 'tooltip', delay: { 'show': 300, 'hide': 100 } } do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>
  </div>
  <div class="">
    <table class='content-table table-sortable'>
      <thead class='text-uppercase'>
        <tr>
          <th><%= Ticket.human_attribute_name('title') %></th>
          <th class='d-none d-sm-block'><%= Ticket.human_attribute_name('submitted_by') %></th>
          <th><%= t('strings.tickets.assigned_developer') %></th>
          <th><%= Ticket.human_attribute_name('status') %></th>
          <th><%= Ticket.human_attribute_name('date_identified') %></th>
        </tr>
      </thead>
      <tbody>
        <% unless @tickets.empty? %>
          <% @tickets.each do |t| %>
            <tr data-href=<%= ticket_url(t.id) %>>
              <td><%= t.title %></td>
              <td class='d-none d-sm-block'><%= t.submitted_by %></td>
              <td><%= t.user.name %></td>
              <td id='stat-column'><div class="status-pill-<%= t.status.id %>"><%= t.status.name %></div></td>
              <td><%= t.created_at.strftime("%Y/%m/%d %H:%M") %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="5" class="text-center"><%= t('strings.resources.no_resource_yet', resource: Ticket.model_name.human) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate(@tickets, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'd-flex justify-content-end') %>
  </div>
</div>
