<div class="container">
  <h1 class='text-capitalize'>Tickets for <%= @project.name %></h1>

  <table class='table'>
    <thead class='thead-light text-uppercase'>
      <tr>
        <th>Ticket Summary</th>
        <th>Date Identified</th>
        <th>Assigned To</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Target Resolution Date</th>
      </tr>
    </thead>
    <% @tickets.each do |t| %>
    <tbody class='table-striped'>
      <tr>
        <td><%= link_to t.summary, project_ticket_path(@project, t.id), class: 'text-decoration-none' %></td>
        <td><%= t.date_identified %></td>
        <td><%= t.assigned_to_user_id %></td>
        <td><%= t.status %></td>
        <td><%= t.priority %></td>
        <td><%= t.target_resolution_date %></td>
      </tr>
    <% end %>
    </tbody>

  </table>
</div>