<div class="container">
  <h1 class='text-capitalize'>Tickets for <%= @project.name %></h1>
  <%= link_to  "Back to Project Overview", @project %>

  <table class='content-table table-sortable'>
    <thead class='text-uppercase'>
      <tr>
        <th><%= Ticket.human_attribute_name('title') %></th>
        <th><%= t('datetime.created_at') %></th>
        <th><%= t('strings.tickets.assigned_developer') %></th>
        <th><%= Ticket.human_attribute_name('status') %></th>
        <th><%= Ticket.human_attribute_name('priority') %></th>
        <th></th>
      </tr>
    </thead>
    <% @tickets.each do |t| %>
    <tbody>
      <tr>
        <td><%= t.title %></td>
        <td><%= t.date_identified %></td>
        <td><%= t.user.name %></td>
        <td><%= t.status.name %></td>
        <td><%= t.priority.name %></td>
        <td>
          <%= link_to ticket_path(t.id), class: 'btn-sm btn-secondary btn-icon-split text-decoration-none' do %>
            <div class="icon">
              <div class="fas fa-info-circle"></div>
            </div>
            <div class="text">Details</div>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>

  </table>
</div>