<div class="container">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h4 class='card-title mt-auto mb-auto text-capitalize'><%= t('strings.resources.overview', resource: Project.model_name.human) %></h4>
      <div>
        <%= link_to new_project_path, class: 'btn btn-circle add-btn btn-lg mt-2', title: t('links.add'), data: { toggle: 'tooltip', delay: {'show': 300, 'hide': 100 } } do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>
    </div>

    <div class="card-body">
      <table class='content-table table-sortable'>
        <thead class='text-uppercase'>
          <tr>
            <th><%= Project.human_attribute_name('name') %></th>
            <th><%= Project.human_attribute_name('description') %></th>
            <th><%= Project.human_attribute_name('open_tickets') %></th>
          </tr>
        </thead>
        <tbody>
          <% unless @projects.empty? %>
            <% @projects.each do |p| %>
              <tr data-href="<%= project_url(p.id) %>" >
                <td><%= p.name %></td>
                <td><%= p.description %></td>
                <td><%= @open_tickets.where(project_id: p.id).size %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="3" class="text-center"><%= t('strings.resources.no_resource_yet', resource: Project.model_name.human) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate(@projects, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'd-flex justify-content-end') %>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'tablesort.js', 'data-turbolinks-track': 'reload' %>
