<div class="container">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h4 class='card-title mt-auto mb-auto text-capitalize'>Your projects</h4>
      <div>
        <%= link_to new_project_path, class: 'btn btn-circle add-btn btn-lg mt-2' do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>
    </div>

    <div class="card-body">
      <table class='content-table table-sortable'>
        <thead class='text-uppercase'>
          <tr>
            <th>Project Name</th>
            <th>Description</th>
            <th>Open Tickets</th>
          </tr>
        </thead>
        <% @projects.each do |p| %>
        <tbody>
          <tr data-href="<%= project_url(p.id) %>" >
            <td><%= p.name %></td>
            <td><%= p.description %></td>
            <td><%= @open_tickets.size %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= will_paginate(@projects, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'd-flex justify-content-end') %>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'tablesort.js', 'data-turbolinks-track': 'reload' %>