<div class="container">
  <h1><%= @project.name %></h1>

  <p>Start date: <%= @project.start_date %></p>

  <p>Target end date: <%= @project.target_end_date %></p>

  <p>Project created at <%= @project.created_at %></p>

  <p>Project created by <%= @project.user.name %></p>

</div>