<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col-mb-4">
      <div class="project-info card mr-3">
        <div class="card-header d-flex justify-content-between">
          <h4 class="card-title mt-auto mb-auto">Details for Project #<%= @project.id %></h4>
          <div class="inline">
            <%= link_to  projects_path, class: 'btn btn-circle btn-lg back-btn' do %>
              <i class="fas fa-arrow-left"></i>
            <% end %>
            <%= link_to edit_project_path(@project), class: 'btn btn-circle btn-lg edit-btn' do %>
              <i class="fas fa-pen"></i>
            <% end %>
            <%= link_to @project, method: :delete, data: { confirm: "This action cannot be undone. All of this project's tickets will also be deleted. Are you sure?"}, class: 'btn btn-circle btn-lg delete-btn' do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
        </div>
        <div class="card-body">
          <div class="project-details row">
            <div class="container project-info col">
              <div class="row">
                <div class="col-sm">
                  <p class="text-uppercase text-muted">Project Name</p>
                  <%= @project.name %>
                </div>
                <div class="col-sm">
                  <p class="text-uppercase text-muted">Project Description</p>
                  <%= @project.description %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm">
                  <p class="text-uppercase text-muted">Start Date</p>
                  <%= @project.start_date.strftime("%Y/%m/%d") %>
                </div>
                <div class="col-sm">
                  <p class="text-uppercase text-muted">Target End Date</p>
                  <%= @project.target_end_date %>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm">
                  <p class="text-uppercase text-muted">Project Created At</p>
                  <%= @project.created_at.strftime("%Y/%m/%d %H:%M") %>
                </div>
                <div class="col-sm">
                  <p class="text-uppercase text-muted">Project Created By</p>
                  <%= @project.user.name %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-mb-4">
      <div class="ticket-info card">
        <div class="card-header d-flex justify-content-between">
          <div>
            <h4 class="card-title">Tickets for this Project</h4>
            <h5 class="card-subtitle text-muted">Condensed Ticket Details</h5>
          </div>
          <div>
            <%= link_to new_project_ticket_path(@project), class: 'btn btn-circle btn-lg add-btn' do %>
              <i class="fas fa-plus"></i>
            <% end %>
          </div>
        </div>
        <div class="card-body">
          <table class='content-table table-sortable'>
            <thead class='text-uppercase'>
              <tr>
                <th>Title</th>
                <th>Submitter</th>
                <th>Developer</th>
                <th>Status</th>
                <th>Created</th>
              </tr>
            </thead>
            <tbody>
              <% @tickets.each do |t| %>
                <tr data-href=<%= ticket_url(t.id) %>>
                  <td><%= t.title %></td>
                  <td><%= t.submitted_by %></td>
                  <td><%= t.user.name %></td>
                  <td><%= t.status.name %></td>
                  <td><%= t.created_at.strftime("%Y/%m/%d %H:%M") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


