<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-7 col-lg-6 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                  <div class="p-5">
                      <div class="text-center">
                          <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                      </div>
                      <%= form_with(model: @user, url: user_session_path, local: true, class: 'user') do |f| %>
                          <div class="form-group">
                            <%= f.email_field :email, autofill: 'email', placeholder: true, class: 'form-control form-control-user' %>
                          </div>
                          <div class="form-group">
                            <%= f.password_field :password, autofill: 'password', placeholder: true, class: 'form-control form-control-user' %>
                          </div>
                          <div class="form-group">
                            <div class="custom-control custom-checkbox small">
                              <%= f.check_box :remember_me, class: 'custom-control-input' %>
                              <%= f.label :remember_me, class: 'custom-control-label' %>
                            </div>
                          </div>
                          <br>
                          <div class="form-group row justify-content-center">
                            <%= f.submit 'Login', class: 'btn btn-primary btn-user col-sm-6' %>
                          </div>
                          <div class="form-group row justify-content-center">
                            <%= link_to user_google_oauth2_omniauth_authorize_path, class: 'btn btn-google btn-user col-sm-6' do %>
                            <i class="fab fa-google fa-fw"></i> Login with Google
                            <% end %>
                          </div>
                      <% end %>
                      <!-- Login as the demo user -->
                      <%= form_with(model: @user, url: user_session_path, local: true, class: 'user') do |f| %>
                          <div class="form-group row justify-content-center">
                            <%= f.email_field :email, value: 'demo.dev@example.com', readonly: true, hidden: true %>
                            <%= f.password_field :password, value: Rails.application.credentials.dig(:demo_dev, :demo_dev_password), readonly: true, hidden: true %>
                            <%= f.submit 'Login as Demo User', class: 'btn btn-info btn-user col-sm-6 ' %>
                          </div>
                      <% end %>
                      <hr>
                      <div class="text-center">
                        <%= link_to  "Create an Account!", new_user_registration_path %>
                      </div>
                  </div>
                </div>
            </div>
        </div>

    </div>

</div>
