<div class="container">
  <div class="row">

    <!-- Profile -->
    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h5 class="card-title m-0"><%= User.human_attribute_name('avatar') %></h5>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <%= image_tag avatar(current_user), class: 'mx-auto d-block img-thumbnail profile-round' %>
        </div>
        <div class="mx-2 mb-3">
          <%= form_with(model: @user, url: users_edit_url(@user), action: :update, method: :post, multipart: true) do |f| %>
            <div class="custom-file">
              <%= f.file_field :avatar, class: 'custom-file-input', onchange: 'this.form.submit();', accept: 'image/png,image/jpeg,image/svg' %>
              <%= f.label :avatar, t('strings.resources.change_resource', resource: User.human_attribute_name('avatar')), class: 'custom-file-label' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <!--Profile Form -->
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h5 class="card-title m-0"><%= User.human_attribute_name('profile') %></h5>
        </div>
        <!-- Card Body -->
        <div class="card-body">
        
          <%= form_with(model: @user, url: user_registration_path(@user), method: :put) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :name %><br>
              <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control' %>
            </div>
            <br>

            <div class="field">
              <%= f.label :email %><br />
              <% if current_user.provider %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', readonly: 'readonly' %>
                <em><%= t('strings.third_party.no_change_email') %></em>
              <% else %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
              <% end %>
            </div>
            <br>

            <div class="field">
              <%= f.label :role_id, Role.model_name.human %>
              <%= f.select :role_id, Role.all.collect{ |r| [r.title, r.id] }, selected: current_user.role.id %>
            </div>
            <div class="field">
              <%= f.label :locale_id, Locale.model_name.human %>
              <%= f.select :locale_id, Locale.all.collect{ |l| [l.language, l.id] }, selected: current_user.locale.id %>
            </div>
            <br>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <% unless current_user.provider %>
              <div class="field">
                <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
                <% if @minimum_password_length %>
                  <em><%= @minimum_password_length %> characters minimum</em>
                <% end %>
              </div>
              <br>
              
              <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
              </div>
              <br>

              <div class="field">
                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
              </div> 
              <br>
            <% end %>

              <div class="actions d-flex justify-content-center">
                <%= f.submit class: 'btn btn-success mt-3' %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>